
.visits-columns {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  height: 65vh;
}

.visit-column {
  height: inherit;
  width: inherit;
}

.review-column {
  border: 3px solid darkorange;
  background-color: rgb(255, 235, 197);
  border-radius: 8px;
  height: 95%;
  width: inherit;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
}

.review-window {
  border: 3px solid darkorange;
  background-color: white;
  border-radius: 8px;
  height: inherit;
  width: inherit;
  padding: 32px;
}

.create-visit-button {
  border: 3px solid darkorange;
  border-radius: 16px;
  background-color: orange;
  padding: 8px;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  color: white;
} 

.create-visit-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.recommend:hover {
  cursor: pointer;
  opacity: 0.7;
}